nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid var(--border-lining);
  color: var(--text-color);
  z-index: 999;

  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(24,24,24, 0.7);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo-and-left-holder {
  display: flex;
  gap: 30px;
}

.left .links {
  display: flex;
  gap: 20px;
}

nav .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav .right {
  display: flex;
  gap: 20px;
}

nav .login-btn {
  cursor: pointer;
  background-color: var(--bg-color);
  font-weight: 700;
  border: 1px solid var(--border-lining);
  border-radius: 10px;
  color: var(--text-color);
  padding: 10px;
  height: 35px;
  width: 85px;
}

nav .login-btn:hover {
  color: rgb(175, 175, 175);
}

.logo {
  color: white;
}

.logo span {
  color: var(--c1);
}

.left .logo {
  margin-right: 30px;
}

.left .links a {
  color: var(--text-color);
  font-weight: 600;
}

.left .links a:hover {
  color: rgb(175, 175, 175);
}

/* .links a:not(:first-child) {
  margin-left: 25px;
} */


footer {
  background-color: rgba(34, 33, 32, 0.735);
  height: 100px;
  margin-top: 60px;
  flex-flow: row-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer h4 {
  color: var(--text-color);
}
