
<!-- Navbar -->
<nav>
    <div class="logo-and-left-holder">
        <a href="/">
            <h2 class="logo">tify<span>.</span></h2>
        </a>
        <div class="left">
            <div class="links">
                <a routerLink="/movies">Movies</a>
                <a routerLink="/bookings">My Bookings</a>
            </div>
        </div>
    </div>
    <div class="right">
        <app-movie-search></app-movie-search>
        <button class="login-btn">Login</button>
    </div>
</nav>

<router-outlet></router-outlet>

<footer>
    <div>
        <a href="/">
            <h2 class="logo">tify<span>.</span></h2>
        </a>
    </div>
    <h2 style="color: var(--c2);">|</h2>
    <h4>Unlock the Magic of Movies with</h4>
</footer>
