.movies-page {
  display: flex;
  justify-content: center;

  /* width: 100%; */
}

.movies-container {
  display: flex;
  flex-direction: column;

  margin-top: 100px;

  width: 900px;
}

.movies-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: -35px;
}

.skeleton-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skeleton-movie {
  width: 190px;
  height: 310px;
  background-color: var(--border-lining);
  border-radius: 10px;
  animation: skeleton-animation 1s infinite alternate;
  margin-bottom: 20px;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
